.movieThumbnailRow {
    background-color: #141414;
}
.movieCard-Parent {
    transition: all .25s ease-in-out;
}
.movieCard-Parent:hover {
    transform: scale(1.1);
}
.movieCard-Parent:hover > .movieCard > p {
    color: white !important;
}
.movieCard-Parent:hover > .movieCard > .extraInformation {
    display: block !important;
}
