.movie-view {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(160, 160, 160);
    font-size: .9rem;
}
.movie-image {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.movie-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0px -50px 18px -30px #141414; 
    box-shadow: inset 0px -50px 18px -30px #141414;
}
.go-back {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #14141481 !important;
}