.movie-view {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(160, 160, 160);
    font-size: .9rem;
}
.movie-image {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.movie-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: inset 0px -50px 18px -30px #141414; 
    box-shadow: inset 0px -50px 18px -30px #141414;
}
.go-back {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #14141481 !important;
}

.director {
    background-color: #23232381;
    padding-bottom: 16px;
    border-radius: 16px;
}

a {
    color: rgb(160, 160, 160)!important;
    text-decoration: none!important;
}

.genre {
    background-color: #47474781;
    border-radius: 6px;
    padding: 2px 4px;
}


.grow {
    transition: all .3s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
    background-color: #198754;
    color: white;
}


