$bg-color: #e2e2e4;

.bg-color {
  background-color: $bg-color;
  box-shadow: -20px 0px 80px 5px rgba(0,0,0,0.5);
}

.center-hor {
  margin: auto;
}

.padding-0 {
  padding: 0px !important;
}
.white-font {
  color: white;
  font-weight: bold; 
}
html {
  background-color: #141414;
}
body {
  background-color: #141414;
}