.director-view {
    color: rgb(160, 160, 160);
}

.bio {
    background-color: #1c1c1c;
    border-radius: 14px;
    color: white;
    padding: 8px;
}
.moviesByDirector {
    max-width: 560px;
    display: grid!important;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
}
.moviesBy {
    width: 100%;
}